.article-short {
  margin: 0 0 30px;
}

.meta {
  margin: 0px 0 15px;
  .meta-link {
    color: $gray;
    font-size: $font-size-sm;
    margin-right: 7px;
  }

  .meta-tags {
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 0;
    display: inline-block;
    .meta-tag {
      display: inline-block;
      padding: 2px 5px;
    	border-radius: 2px;
    	background-color: $gray-dark;
      font-size: $font-size-sm;
      a {
        color: $font-color;
        font-weight: 500;
      }
      &.tag-interview {
        background-color: $bg-interview;
        a {
          color: #fff;
        }
      }

      &.tag-events {
        background-color: $bg-events;
        a {
          color: #fff;
        }
      }

      &.tag-success {
        background-color: $bg-success;
        a {
          color: #fff;
        }
      }
      &.tag-danger {
        background-color: $bg-danger;
        a {
          color: #fff;
        }
      }
      &.tag-info {
        background-color: $bg-info;
        a {
          color: #fff;
        }
      }
      &.tag-warning {
        background-color: $bg-warning;
        a {
          color: #fff;
        }
      }
    }
  }
}

.history {
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 80px;
}
