.banner-area {
  margin: 20px 0 50px;
  .banner-title {
    font-size: $font-size-xs;
    font-weight: 400;
  }
  .banner-content {
    a {}
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
}
