body {
  background-color: $body-bg;
  color: $font-color;
  // padding-top: 235px;
}

a {
  color: #1889B1; //$brand-primary;
}

.well {
  	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    background-color: #ffffff;
    padding: $well-padding;
    margin-bottom: 30px;
    &.light {
      background-color: transparent;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    }
}

.grouped {
  background: #D8D8D8;
  padding: 20px 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  &.default {
    background: #D8D8D8;
  }
  &.primary {
    background: #D9E8EC;
  }
  &.secondary {
    background: #ECE5D9;
  }
  &.info {
    background: #F3D2C6;
  }
  .section-header {
    margin: -5px 0 10px;
    padding: 0;
  }
  .article-content {
    border-radius: 3px;
    background-color: #ffffff;
  }
  .well {
    margin-bottom: 10px;
  }
}

.section-header {
  margin: 60px 0 20px;
  font-weight: $section-header-font-weight;
  &.secondary {
    font-weight: normal;
    font-style: italic;
  }
}

.nav {
  li {
    display: inline-block;
  }
}

hr, .divider {
  background:rgba(48,55,41,0.07);
  height: 2px;
  margin: 40px 0;
  border-top: 0px solid transparent;
}

.news-main {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.wrapper {
  margin-top: 60px;
}

.round {
  border-radius: 50%;
  overflow:hidden;
  border:2px solid #EEEEEE;
}

img {
  max-width: 100%;
  margin-bottom: 5px;
}


.alignnone {float:none;}
.aligncenter {margin: 0 auto; float: none;display: block;}
.alignleft {float:left;margin:0 10px 0px 0;}
.alignright {float:right;margin:0 0 0px 10px;}

.bg-success {
  background-color: $bg-success;
  color: #fff;
}

.bg-info {
  background-color: $bg-info;
  color: #fff;
}

.bg-warning {
  background-color: $bg-warning;
  color: #fff;
}

.bg-danger {
  background-color: $bg-danger;
  color: #fff;
}

.sad {
  margin:10px 0 40px;
}

.pagination {
  margin-top: 20px;
    small {
     margin-top: 10px;
     margin-right: 15px;
   }
}

.open>.dropdown-menu {
    display: block;
}

.fade.in {
    opacity: 1;
}

.collapse.in {
    display: block;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

a.dropdown-toggle {
  color: $gray;
}
.dropdown-menu > li > a {
  font-size: $font-size-sm;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.styleguide h6 {
  margin-top: 40px;
  &:first-of-type {
    margin-top: 0;
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-bottom: 15px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
