.btn {
  border-radius: 3px;

  font-family: $font-family-nav;
  font-weight: $font-family-nav-weight;
  text-transform: uppercase;
  // font-size: $font-size-h2;
  // line-height: 1.7em;
  text-align: center;
  .arrow-right {
    float: right;
    // margin-top: 11px;
    margin-left: 15px;
    margin-bottom: 0px;
  }

  &.btn-sm{
    .arrow-right {
      height: 13px;
      margin-top: 1px;
    }
  }

  &.btn-md{
    .arrow-right {
      height: 16px;
      margin-top: 1px;
    }
  }

  &.btn-lg {
    font-family: $font-family-nav;
    font-weight: $font-family-nav-weight;
    text-transform: uppercase;
    font-size: $font-size-h5;
    line-height: 1.7em;
    margin-bottom: 30px;
    text-align: left;
    .arrow-right {
      height: 20px;
      margin-top: 4px;
    }
  }

  &.btn-primary {

  }
  &.btn-link {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid rgba(67, 137, 159, 0.2);
    padding-bottom: 2px;
    font-family: $font-family-nav;
    font-weight: $font-family-nav-weight;
    text-transform: none;
    &:hover {
      text-decoration: none;
      border-bottom-color: $link-color;
    }
  }
  &.btn-block {
  }
}

.btn-group > .btn {
  background-color: #d8d8d8;
  color: $font-color;
  // box-shadow: $header-box-shadow;
  &:hover {
    background-color: #fff;
    box-shadow: $header-box-shadow;
    cursor: pointer;
  }
}

.btn-group > .btn.active {
  background-color: #fff;
  box-shadow: $header-box-shadow;
}
