header {
  background-color: #fff;
  transition: all 0.4s ease;
  box-shadow: $header-box-shadow;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 999;
  .carousel {
    height: 125px;
  }
  @media (min-width: 990px) {
    margin-bottom: 30px;
    position: relative;
  }
  @media (max-width: 990px) {
    &.is-sticky {
      position: absolute !important;
    }
  }
}

.navbar-header {
  padding: $navbar-header-padding-y $navbar-header-padding-x 0px;
  @media (max-width: 990px) {
    padding: 0px $navbar-header-padding-x 0px;
  }
  .navbar-brand {
    @media (max-width: 990px) {
      display: none;
    }
  }
}

.navbar-brand {
  float: none;
  // margin-top: 10px;
  display: block;
  opacity: 1;
  margin-top: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  img {
  }
}

.navbar-search {
  position: relative;
  @media (min-width: 990px) {
    width: 210px;
    float: left;
  }
  label {
    display: none;
  }
  input {
    border: 0px solid transparent;
    &.search-input{
      background: rgba(0,0,0,0.15);
      height: 34px;
      text-indent: 8px;
      color: #fff;
      width: 100%;
      &:focus {
        background: rgba(0,0,0,0.4);
        color: rgba(255,255,255,1);
        outline: none;
      }
    }
    &.btn-search {
      height: auto;
      width: auto;
      position: absolute;
      top: 7px;
      right: 10px;
    }
  }
  input::-webkit-input-placeholder {
    color: #ccc;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }
  input::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc;
  }
  input:-ms-input-placeholder {
    color: #ccc;
  }
}

.navbar {
  padding: $navbar-padding-y $navbar-padding-x;
  border-radius: $navbar-border-radius;
  .navbar-nav {
    @media (min-width: 992px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      li {
        margin: 0 15px 0 0;
      }

    }
  }
  &.level-0 {
    background-color: #1889B1; //add color to variables
    font-size: $font-size-nav-smaller;
    z-index: 2;

    @media (max-width: 990px) {
      .container {
        margin: 0 auto;
        width: 95%;
      }
      padding: 10px 0px;
    }
    a {
      color: rgba(255,255,255,0.6);
      &:hover {color: rgba(255,255,255,1);}
    }
    .navbar-page {
      @media (min-width: 990px) {
        float: right;
      }
      @media (max-width: 990px) {
        display: none;
        float: none;
      }
    }
  }
  &.level-1 {
    font-family: $font-family-nav;
    font-weight: $font-family-nav-weight;
    text-transform: uppercase;
    font-size: $font-size-nav;
    a {
      &.active, &:hover {
        color: $header-color;
        opacity: 1;
      }
      opacity: .3;
      color: rgba(0,0,0,1)
    }
  }
  &.level-2 {
    border-top: 2px solid #EBF6FA;
    padding: $navbar-padding-y $navbar-padding-x 0px;
    flex-direction: row;
    display: none;
    a {
      font-weight: $font-family-nav-weight;
      &.active, &:hover {
        color: $header-color;
        opacity: 1;
      }
      opacity: .3;
      color: rgba(0,0,0,1)
    }
    .responsive-nav {
      @media (min-width: 990px) {
        display: none;
      }
      list-style-type: none;
      padding: 0;
      margin-top: 0;
    }

    @media (min-width: 990px) {
      display: flex;
    }
  }
  .navbar-social {
    margin-left: auto;
    // float: right;
    @media (max-width: 990px) {
      display: none;
      float: none;
    }
    .nav-facebook {
      margin-top: -3px;
    }
    .nav-twitter {

    }
    li a {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.navbar-mobile {
  overflow: hidden;
  padding: 15px 10px 10px 30px;
  @media (min-width: 990px) {
    display: none;
  }
  .navbar-brand {
    float: left;
    padding: 0;
    margin: 0;
    img {
      height: 35px;
    }
  }
  .navbar-toggler {
    float:right;
    width: 2.5em;
    height: 2em;
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent no-repeat center center;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

#news-carousel {
  position: relative;
  display: none;
  @media (min-width: 990px) {
    display: block;
    opacity: 1;
    // margin-top: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .news-card {
    border:0px solid transparent;
    overflow: hidden;
    .thumbnail {
      // padding-left: 14px;
      margin-left: 15px;
      float: left;
      height: 102px;
      width: 102px;
      overflow:hidden;
      img{max-width: none;}
    }
    .article {
      width: 60%;
      float: left;
      padding-left: 20px;
      padding-right: 0;
    }
  }

  .carousel-indicators {
    text-align: left;
    position: relative;
    margin-left: 0;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
    left: 0;
    justify-content: flex-start;
    right: 0;

    @media (min-width: 768px) {
      padding-left: 117px;
    }

    // @media (min-width: 992px) {
    //   padding-left: 27px;
    // }
    //
    // @media (min-width: 1200px) {
    //
    // }

  }
  .carousel-indicators li {
    &.active {
      background-color: #1889B1;
      border: 0px solid transparent;
      height: 10px;
      width: 10px;
    }
    background-color: #D8D8D8;
    border: 0px solid transparent;
    margin: 0;
    max-width: 10px;
    border-radius: 20px;
    height: 10px;
    margin: 0 2px;
  }

}

@media (min-width: 576px) {
  .navbar-toggleable-xs {
      display: none !important;
  }
}

@media (min-width: 990px) {
  .navbar-toggleable-xs {
      display: block !important;
  }
}

.navbar-toggleable-xs.in {
    display: block !important;
}

@media (max-width: 990px) {
  .navbar-toggleable-xs .navbar-nav .nav-item {
      float: none;
      display: block;
      margin-left: 0;
  }
}

.nav-up {
  @media (min-width: 990px) {
    .navbar-header {
      padding-top: 0px;
    }
    .navbar-brand {
      display: none;
    }
    #news-carousel {
      display: none;
    }
  }
}

.nav-up {
  top: -235px; // same as header height. use variables in LESS/SASS
}

.sticky {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  @media (min-width: 990px) {
    height: 245px;
  }
}

.sticky-wrapper {
  @media (max-width: 989px) {
    height: auto !important;
  }
}

.sticky.is-sticky {
  z-index: 1000;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  @media (min-width: 990px) {

  }

  @media (min-width: 990px) {

  height: 165px;

    .navbar-header {
      padding-top: 15px;
    }
    .navbar-brand {
      opacity: 1;
      margin-top: 0px;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      float: left;
      margin-right: 20px;
      img {
        height: 30px;
      }
    }
    .level-1 {
      margin-top: -2px
    }
    #news-carousel {
      opacity: 0;
      margin-top: -70px;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
    }
  }

}

.subnav-navbar-nav {
  display: block;
  border-bottom: 2px solid #EBF6FA;
  padding: 0px 0 10px;
  margin-bottom: 10px;
  li {
    .nav-item {
      float: none;
      font-weight: $font-family-nav-weight;
      &.active, &:hover {
        color: $header-color;
        opacity: 1;
      }
      opacity: .3;
      color: rgba(0,0,0,1);
      text-transform: none;
    }
  }
  @media (min-width: 990px) {
    display: none;
  }
}

.navbar-nav li:last-of-type ul.subnav-navbar-nav {
  border-bottom: 0px solid transparent;
}

.nav-link {
  padding: 0.1em 1em;
}