.nav-tabs {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 0px solid transparent;
  .nav-tab-item {
  }
  .nav-tab-item-link {
    padding: 10px 10px;
    font-size: $font-size-h6;
    font-family: $font-family-nav;
    font-weight: $section-header-font-weight;
    color: $headings-color;
    text-transform: uppercase;
    &:first-of-type {
      padding-left: 0;
    }
    &.active, &:hover {
      color: #38A7CE;
      opacity: 1;
    }
    opacity: .3;
    color: rgba(0,0,0,1)
  }
}
