@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,600i,700,700i,800,800i,900,900i');
// font-family: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,700i,900,900i');
// font-family: 'Merriweather', serif;

h6,
.h6 {
  font-family: $font-family-nav;
  font-weight: $section-header-font-weight;
  color: $headings-color;
  text-transform: uppercase;
}

.single .article-content h1, .single .article-content .h1,
.single .article-content h2, .single .article-content .h2,
.single .article-content h3, .single .article-content .h3,
.single .article-content h4, .single .article-content .h4,
.single .article-content h5, .single .article-content .h5 {
  margin-top: 30px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  // color: #1889B1; //$brand-primary;
  color: $header-color;
  // margin-top: 30px;
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a {
  // color: #1889B1; //$brand-primary;
  color: $header-color;
}

h1, .h1 {
  @media (max-width: 990px) {
      font-size: $font-size-h1 * 0.9;
  }
}

h2, .h2 {
  @media (max-width: 990px) {
      font-size: $font-size-h2 * 0.9;
  }
}

h3, .h3 {
  @media (max-width: 990px) {
    font-size: $font-size-h3 * 0.9;
  }
}

h4, .h4 {
  @media (max-width: 990px) {
    font-size: $font-size-h4 * 0.9;
  }
}

h5, .h5 {
  @media (max-width: 990px) {
    font-size: $font-size-h5 * 0.9;
  }
}

p {
  margin-bottom: 0.4rem;
}
