$gray-dark:                 #d8d8d8;
$gray-darker:               #374046;
$gray:                      #999999;
// $gray-light:                #818a91 !default;
// $gray-lighter:              #eceeef !default;
// $gray-lightest:             #f7f7f9 !default;
//
// $brand-primary:             #0275d8 !default;
// $brand-success:             #5cb85c !default;
// $brand-info:                #5bc0de !default;
// $brand-warning:             #f0ad4e !default;
// $brand-danger:              #d9534f !default;
// $brand-inverse:             $gray-dark !default;

$brand-primary:             #38A7CE;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

$font-color:            #666666;

// Style anchor elements.

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

$body-bg: #FAFAFA;
$footer-bg: #3d3d3d;

$btn-secondary-color:            #fff;
$btn-secondary-bg:               $gray-darker;
$btn-secondary-border:           $gray-darker;

$header-box-shadow:         0 1px 1px rgba(0,0,0,0.07);

$navbar-border-radius:      0;

$navbar-header-padding-x:   20px;
$navbar-header-padding-y:   20px;

$navbar-padding-x:          0;
$navbar-padding-y:          5px;

$font-family-sans-serif: "Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      'Merriweather' ,Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  "Menlo", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;
$font-family-nav:         'Nunito', sans-serif;
$headings-font-family:    $font-family-serif;
$font-family-nav-weight:  700;
$font-size-nav:           1.15rem;
$font-size-nav-smaller:   0.85rem;

$headings-font-weight:   600;
$section-header-font-weight:  800;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;

$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

$line-height-base: 1.5;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.15rem;
$font-size-h6: 0.85rem;

$well-padding: 20px;
