.widget {
  margin-bottom: 30px;
  .section-header {
    margin-top: 0;
  }
  img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    &.align-right {}
    &.align-left {}
  }
  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .list-item {
      position: relative;
      border-bottom: 2px solid rgba(48,55,41,0.07);
      margin-bottom: 20px;
      padding-bottom: 15px;
      p {
        margin-bottom: 0;
      }
      .list-link {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &.interview {
    font-size: 80%;
    img {
      width: auto;
      max-width: none;
      margin: 0 20px 70px 0;
      float:left;
      @media (max-width: 320px) {
        width: 80px;
        margin: 0 20px 0px 0;
      }
    }
    // img {width: 110px;}
    @media (min-width: 990px) {
      width: 170px;
      margin: 0 30px 30px 0;
      float: left;
      img {
        float: none;
        margin: 0 0px 10px 0;
      }
    }
  }

  &.leftfacts {
    font-size: 80%;
    img {
      width: auto;
      max-width: none;
      margin: 0 20px 70px 0;
      float:left;
      @media (max-width: 320px) {
        width: 80px;
        margin: 0 20px 0px 0;
      }
    }
    // img {width: 110px;}
    @media (min-width: 990px) {
      width: 170px;
      margin: 0 30px 30px 0;
      float: left;
      &.wider {
        width: 280px;
      }
      img {
        float: none;
        margin: 0 0px 10px 0;
      }
    }
  }

  &.rightfacts {
    font-size: 80%;
    img {
      width: auto;
      max-width: none;
      margin: 0 0 70px 20px;
      float:right;
      @media (max-width: 320px) {
        width: 80px;
        margin: 0 20px 0px 0;
      }
    }
    // img {width: 110px;}
    @media (min-width: 990px) {
      width: 170px;
      margin: 0 0 30px 30px;
      float: right;
      &.wider {
        width: 280px;
      }
      img {
        float: none;
        margin: 0 0px 10px 0;
      }
    }
  }

  &.fullfacts {
    font-size: 80%;
    img {
      width: auto;
      max-width: none;
      margin: 0 0 70px 20px;
      float:left;
      @media (max-width: 320px) {
        width: 80px;
        margin: 0 20px 0px 0;
      }
    }
    // img {width: 110px;}
    @media (min-width: 990px) {
      width: 100%;
      margin: 0 0 30px 0;
      float: none;
      overflow: hidden;
      dl {
        overflow: hidden;
        dt {
          float: left;
          width: 150px;
          margin-right: 15px;
        }
        dd {
          float: left;
          width: 190px;
          margin-right: 15px;
        }
      }
      img {
        float: none;
        margin: 0 0px 10px 0;
      }
    }
  }

  &.conferences {
    background: #1789B1;
    border-radius: 3px;
    padding: $well-padding;
    color: #fff;
    position: relative;
    .carousel-inner {
      min-height: 310px;
    }
    a {
      color: #fff;
    }
    h3 {font-size: 1.75rem;}
    .btn-link {
      color: #fff;
      border-bottom-color: rgba(255,255,255,0.3);
      &:hover {
        border-bottom-color: rgba(255,255,255,0.8);
      }
    }

    .carousel-item {
      flex-direction: column;
      .carousel-item-inner {
        display: block;
      }
    }

    .carousel-indicators {
      text-align: right;
      position: absolute;
      margin-left: 0;
      margin-top: 5px;
      margin-bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      li {
        max-width: 10px;
        border-radius: 20px;
        height: 10px;
      }
    }

  }

}

.tag-cloud {
  list-style-type: none;
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  .tag-cloud-item {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    background-color: $gray-dark;
    font-size: $font-size-sm;
    margin-bottom: 3px;
    a {
      color: $font-color;
      font-weight: 500;
    }
    &.more {
      opacity: 0.5;
    }
  }
}
